body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fafafa;
  line-height: 1.6;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
img {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}
p {
  font-size: 1.1em;
  color: #333;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: none;
  z-index: 999;
}

#homeLink {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #8928a7;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
